
@tailwind base;
@tailwind components;
@tailwind utilities;

input.flex-1.p-2.border.rounded-l {
    color: black;
}

input {
    color: black;
}
button, input, optgroup, select, textarea {
    color: gray;
}